body {
    /* border: solid; */
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    /* border: dashed; */
    /* display: flex; */
    display: block;
    justify-self: center;
    margin: 3%;
    width: 10vh;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: blueviolet;
}


input {
    width: 25vh;
    /* border-radius: 5%; */
    margin: 10px;
    /* border-color: aqua; */
    border: none;
    border-bottom: solid 2px lightblue;
    padding: 5px;
    display: flex;
    justify-self: center;
    /* align-self: center; */
    text-align: center;
}

input:focus {
    outline: none;
    /* border-top: solid 2px lightblue; */
}

h1 {
    /* background: conic-gradient(red,blue,green, blue); */
    background: linear-gradient(to left, rgb(5, 5, 138), purple);
    background-clip: text;
    color: transparent;
}

.nested {
    border: solid 0px;
    padding: 5px;
    /* margin: 1px; */
}

.inner {
    display: flex;
    /* border: solid 1px; */
    /* margin:1px; */
}

/* .nested:hover  {
    background-color: aqua;
} */

/* .mainDiv {
    align-self: center;
    justify-self: center;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
} */
.etchSketchContainer {
    border: solid 1.5px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-self: center;
    align-self: center; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 5px; */
}

.inputDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}